{% extends 'base.html' %}
{% load static %}

{% block main_area %}  
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                    <h5 class="text-muted">{{ post.hook_text }}</h5>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ post.created_at}}</div>

                    <!-- Post categories-->
                    {% if post.category %}
                        <span class="badge bg-secondary text-decoration-none">{{ post.categrty }}</span>
                    {% else %}
                        <span class="badge bg-secondary text-decoration-none">미분류</span>
                    {% endif %}

                </header>
                <!-- Preview image figure-->
                {% if post.head_image %}  
                {% comment %} <figure class="mb-4"><img class="img-fluid rounded" src="https://picsum.photos/id/{{ p.pk}}/600/600" alt="..." /></figure> {% endcomment %}
                    <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title}} head_image" />

                {% else%}
                    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/800" alt="random_image">
                {% endif%}
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post.content }}</p>
                </section>

                {% if post.file_upload %} 
                    <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button">
                        Download :&nbsp;

                        {% if post.get_file_ext == 'csv' %}
                            <i class="bi bi-filetype-csv"></i> 

                        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                            <i class="bi bi-file-earmark-excel"></i>

                        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                            <i class="bi bi-file-earmark-word"></i>
                        {% else %}
                            <i class="bi bi-box-arrow-down"></i>
                        {% endif %}
                        {{ post.get_file_name}}
                    </a>
                {% endif %}
                
                <hr>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                숨 참고
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        Love Dive
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When you put money directly to a problem, it makes a good headline.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include 'blog/side.html' %}
 
    </div>
</div>    
{% endblock main_area %} 